@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="auth-container">

    <h1 class="auth-title">Forgot your password?</h1>

    <form method="post" class="auth-form">

        <p>Please enter your email address and we will send you a password reset link.</p>

        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="auth-field">
            <label asp-for="Input.Email" class="auth-label">Email</label>
            <input asp-for="Input.Email" class="auth-input" placeholder="Enter your email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <button type="submit" class="ts-btn auth-btn-big">Send reset link</button>

    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}