.ts-header {
    width: 100%;
    padding: 2rem 0;
    background: #fff;
}

.ts-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}

.ts-logo {
    font-size: 3rem;
    font-weight: 600;
    color: #111;
}

.ts-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
}

.ts-menu .active {
    font-weight: 700;
}

.ts-menu-pages {
    display: flex;
    gap: 2rem;
    margin-right: 2.5rem;
}

.login-btn {
    color: #000000;
    margin-right: 1rem;
}

.signup-btn {
    padding: 0.8rem 2rem;
    background: #7848F3;
    color: #FFFFFF;
    border-radius: 8px;
}

.ts-icon-btn img {
    width: 36px;
    height: 36px;
    padding: 0.6rem;
    border-radius: 10px;
    background: #D8CEFA;
}

.ts-profile-btn img {
    background: #7848F3;
}

.logout-btn {
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    margin-left: 1rem;
    padding: 0;
}
.notifications-container {
    margin: 2rem auto;
}

.notifications-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.notifications-empty {
    font-size: 1.6rem;
    color: #666;
}


.notifications-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-item {
    background: #F0F0FC;
    border: 1px solid #E1DBFF;
    border-radius: 12px;

    padding: 1rem 1.4rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    gap: .4rem;

    font-size: 1.6rem;
}

.notification-item.unread {
    border-left: 4px solid #7848F3;
}

.notification-title {
    font-size: 1.6rem;
    font-weight: 600;
}

.notification-description {
    font-size: 1.4rem;
    color: #444;
}

.notification-date {
    font-size: 1.2rem;
    color: #888;
}

.notification-wrapper {
    position: relative;
}

.notification-badge {
    position: absolute;
    top: -2px;
    right: -2px;

    background: red;
    color: white;

    width: 12px;
    height: 12px;
    border-radius: 50%;

    font-size: 0;
}


@media (max-width: 900px) {

    .ts-header-inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .ts-menu {
        flex-wrap: wrap;
    }

    .ts-menu-pages {
        flex-wrap: wrap;
        gap: 1.4rem;
    }
}

@media (max-width: 600px) {

    .ts-header-inner {
        padding: 0 1rem;
    }

    .ts-menu {
        gap: 0.8rem;
    }

    .ts-icon-btn img {
        max-width: 36px;
        height: auto;
    }
}

