@import "base.css";
@import "components.css";
@import "layout.css";
@import "auth.css";
@import "profile.css";
@import "events.css";
@import "create.css";
@import "home.css";
@import 'details.css';
@import "attendees.css";
@import 'admin.css';